:root {
  --primary-color: rgb(30, 63, 93);
  --primary-dark: rgb(47, 97, 144);
  --secondary: rgb(0, 155, 108);
  --secondary-dark: rgb(1, 212, 149);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  padding-top: 40px;
  background: rgba(245, 245, 245, 0.966);
}

.navbar {
  background: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 1.5rem;
}

.resume-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 3px 9px;
  padding: 40px;
  margin-bottom: 20px;
}

.resume-card__h3 {
  font-size: 1.5rem;
}

.resume-nav {
  display: flex;
}

.resume-nav__header {
  margin: 20px;
  font-size: 1.6rem;
}

.resume-nav__header-underline {
  text-decoration: underline;
  transform: scale(120%);
}

.resume-card__header {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 10px;
  padding-bottom: 20px;
}

.input-grid {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.grid-wrapper {
  width: 1000px;
}

.input-grid input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid;
  margin: 10px;
  font-size: 1.1rem;
  outline: none;
}

.trash-button {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
  width: 15px;
  height: 20px;
  background: none;
  border: none;
}

.trash-icon {
  transform: scale(170%);
}

.trash-icon:hover {
  cursor: pointer;
  transform: scale(200%);
}

.resume-form {
  padding: 20px;
  min-width: 60vw;
}

.button-container {
  display: flex; 
  justify-content: space-between;
  min-width: 100%;
  margin: 15px 0;
}

.btn {
  font-size: 1.2rem;
  border: none;
  border-radius: 7px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  width: 48%;
  transition: 250ms all;
}

.btn-lg {
  width: 100%;
}

.submit {
  background-color: var(--secondary);
}

.add-new-btn {
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-dark)
}

.submit:hover {
  background-color: var(--secondary-dark);
}